`localhost` should be a valid host for `email`

Try in Node REPL:
```js
> Ajv = (await import("ajv")).default; ajvFormats = (await import("ajv-formats")).default; ajv = new Ajv(); ajvFormats(ajv); ajv.validate({type: "string", format: "email"}, "user@localhost");
false
```

It is valid at least in these:

- https://github.com/JamesNK/Newtonsoft.Json.Schema
- https://github.com/marshmallow-code/marshmallow

The problem is not your hostname, but the missing domain. Although the initial RFC 5322 left the domain part open to the implementation, implementations beside the recommended one from RFC 1035 won't work on todays internet. Therefore the current validator implementation is valid to todays acknowledged syntax, you are just missing the domain part of the email.
For domains you can use for internal usage, you can refer to RFC 2606 or 2606bis.

The most recent RFC on this is [rfc5322](https://www.rfc-editor.org/rfc/rfc5322), which says

> The domain portion identifies the point to which the mail is
   delivered.  In the dot-atom form, this is interpreted as an Internet
   domain name (either a host name or a mail exchanger name)

A "host name" definitely includes `localhost`. How else is one supposed to deliver mail to a local user account on a machine? In fact `root@localhost` is a very common address on Linux servers to send mails to the administrator.

Ajv is focused on JSON schema validation. The email regex used in the validators package does confirm to todays general understanding of what an email address should look like, namely including the domain part. Even RFC 5322 recommends the usage of the domain part, which has become the standard. In unix you normally just use localhost.com.
If you have a special use case like the one you are mentioning, you can always create your own regex for validation, but it's really beyond of what a current email validation should do.

This discussion will lead nowhere. For a general validation aimed at applications that only send mail to remote hosts it's probably good to not allow `localhost`, even if it's against the RFCs.

> This discussion will lead nowhere. For a general validation aimed at applications that only send mail to remote hosts it's probably good to not allow `localhost`, even if it's against the RFCs.

Just for the sake of completeness, localhost is not explicitly disallowed by this package. Localhost as defined in the referenced RFC's and as used in for example local linux mailing (`localhost.com` or `localhost.invalid`, etc.) works totally fine. The problem here is that the domain part is missing.