JSON schema specification lists iri-reference.  Why not this package?

https://json-schema.org/draft/2020-12/json-schema-validation#name-resource-identifiers

“uri:
A string instance is valid against this attribute if it is a valid URI, according to [[RFC3986](https://json-schema.org/draft/2020-12/json-schema-validation#RFC3986)].
uri-reference:
A string instance is valid against this attribute if it is a valid URI Reference (either a URI or a relative-reference), according to [[RFC3986](https://json-schema.org/draft/2020-12/json-schema-validation#RFC3986)].
iri:
A string instance is valid against this attribute if it is a valid IRI, according to [[RFC3987](https://json-schema.org/draft/2020-12/json-schema-validation#RFC3987)].
iri-reference:
A string instance is valid against this attribute if it is a valid IRI Reference (either an IRI or a relative-reference), according to [[RFC3987](https://json-schema.org/draft/2020-12/json-schema-validation#RFC3987)].
uuid:
A string instance is valid against this attribute if it is a valid string representation of a UUID, according to [[RFC4122](https://json-schema.org/draft/2020-12/json-schema-validation#RFC4122)].”

I realize there is ajv-formats2019, but there’s an issue between IRIs (emojis) and URNs that needs to be resolved, or we should be able to list multiple formats for a property (unknown).